<!-- **** encabezado **** -->
<header>
  <div class="navbar navbar-expand-lg navbar">
    <div class="navbar-header">
      <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="assets/APLogo-20-20.png" id="argentinalogo"></a></div>


      <div class="navbar-collapse">
         <ul class="navbar-nav ms-auto">
            <li class="header-link"><a href="./index.html#skills" class="">habilidades</a></li>
            <li><a href="https://github.com/fernandomarinoXD"><img src="assets/git.png" alt="logo github" class="icono-github"></a></li>
            <li><button  class="btn btn-secondary">login</button></li>
              
          </ul>
        
      </div>     
     
  
    </div>

    