<div class="container-fluid">
  <div class="saludo">
    <h2>¡Hola! mi nombre es</h2>
  </div> 
  <div class="titulo">
  <img src="assets/IMG_20190731_172831_HDR.jpg" alt="foto de biografia" class = "foto-mia rounded-circle">
      <div class="miNombre"><b>Roberto Fernando Marino</b><br>
         <h6>Full stack develloper jr</h6>
      </div>
 </div>
</div>
 <br>       

  <div class="about"><h3>Acerca de</h3>
    <div class="card">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Fuga fugit rem veniam. Quisquam nisi, ipsum unde maiores, sunt
        quidem accusamus illo et possimus, harum a minima nesciunt necessitatibus facere. Delectus.</p>
    </div> 
  
  </div><br><hr>