<div id="skills">Habilidades
        {{nombre}}
        <circle-progress 
        [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300">       
        </circle-progress>
        
        <circle-progress [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300"></circle-progress>
        
        <circle-progress [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>