<div class="container-fluid">
  <div class="wrapper">
    <section class="estudios">
     <ul ngFor="">
      <li>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="" >
          <i class="bi bi-pencil"></i>
          </button >
          <button type="button" class="btn btn-alert" data-toggle="modal" data-target="#deleteEducationModal" >
          <i class="bi bi-trash"></i>
          </button>
        
      </li>

     </ul>
      <h2>Estudios

        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEducationModal"><i class="bi bi-plus-circle"></i></button>

      </h2>
        <div class="card">
            <img src="assets/ffyl.jpeg" width="60px" height="70px" class="img-thumbnail">
                <p>Universitarios</p><br>
                <p>Profesor en Ciencias Antropologicas-FFyL (UBA)</p>
        </div>     
    </section>
  </div>
      
</div>
