<div class="container-fluid">
  <div class="wrapper">
    <section class="estudios">
     <h2>Estudios</h2>
        <div class="card">
            <img src="assets/ffyl.jpeg" width="60px" height="70px" class="img-thumbnail">
                <p>Universitarios</p><br>
                <p>Profesor en Ciencias Antropologicas-FFyL (UBA)</p>
        </div>     
    </section>
  </div>
      <div id="skills">Habilidades</div>
        <circle-progress 
        [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300">       
        </circle-progress>
        
        <circle-progress [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300"></circle-progress>
        
        <circle-progress [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="20" [innerStrokeWidth]="10" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="300"></circle-progress>
</div>
